*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  width: 100%;
  justify-content: center ;
  background-color: white;
  padding: 40px 6%;
  color: #262626;
}

.container{
  width: 800px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
h3{
  text-align: center;
}
input{
  width: 100%;
  padding: 14px 20px;
  border-radius: 26px;
  margin: 20px 0;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.btn{
  display: flex;
  justify-content: space-between;
}
.generate{
  display: inline;
  padding: 14px 0;
  width: 40%;
  border: none;
  border-radius: 25px;
  background: #79aeb2;
  color: #f1f1f1;
  font-weight: 600;
}
.generate:hover{
  background: #5ba8ae;
}
.copy{
  display: inline;
  padding: 14px 0;
  width: 40%;
  border: none;
  border-radius: 25px;
  background: #4a6274;
  color: #f1f1f1;
  font-weight: 600;
  margin-right: 0;
}
.copy:hover{
  background: #395163;
}